.main-form {
    display: grid;
    width: 40%;
    grid-template-columns: 25% auto;
    row-gap: 1.8vh;
}

.main-form label {
    grid-column: 1/span 1;
}

.main-form input {
    grid-column: 2/span 1;
}

.file-row span:first-child {
    grid-column: 1/ span 1;
}

.file-row span:nth-child(2) {
    grid-column: 2/ span 1;
    text-align: right;
    margin-right: 0.5em;
}

.file-row input {
    grid-column: 3/ span 1;
}