#nav-banner {
    font-size: 1.1em;
    background-image: linear-gradient(#25462f, #3C6648);
    filter: drop-shadow(rgba(150, 150, 150, 30) 0em 0.1em 3px);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav-banner img {
    height: 100%;
}

#nav-banner i {
    margin-right: 0.3em;
}

#nav-banner .container-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 3vw;
    height: 100%;
}

#nav-banner .btn-banner {
    color: white;
    padding: 0 3vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#nav-banner .sep-btn {
    height: 40%;
    width: 2px;
    background-color: #E8E8E8;
}

#nav-banner a {
    text-decoration: none;
    display: box;
    height: 100%;
    display: box;
    transition: background-color 0.3s ease;
}

#nav-banner a:hover{
    background-color: #517e5e;
}
