<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/perbandingan.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script type="module" src="/js/admin.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/pako@2.1.0/dist/pako.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module"  src="/js/logout.js" defer></script>
</head>

<body> 
    <form class="box" id='form-search' enctype="multipart/form-data" method="post" action="/admin/mapUploadMultiple">
        <h2>Tambah File</h2>

        <%- include('./searchForm.ejs'); %>

        <label for="input-file">Select files:</label>
        <input type="file" id="input-file" name="files[]" accept=".csv" multiple>

        <div id="container-file-path"></div>

        <input name="btn-submit" type="submit" disabled="true">
    </form>
    <button class="btn-logout">Logout</button>
</body>

</html>