<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/perbandingan.css">
    <script src="/js/admin.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/pako@2.1.0/dist/pako.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <form class="box" id='form-search'>
        <h2>Tambah File</h2>

        <label for="search-provinsi">Provinsi</label>
        <select name="provinsi" id="search-provinsi">
            <option value="" disabled selected>-- Pilih Provinsi --</option>
            <% for(const row of provinsis) { %>
                <option value="<%= row.idProvinsi %>">
                    <%= row.namaProvinsi %>
                </option>
                <% } %>
        </select>

        <label for="search-kota">Kota</label>
        <select name="kota" id="search-kota" disabled>
            <option value="" disabled selected>-- Pilih Kota --</option>
        </select>

        <label for="search-kecamatan">Kecamatan</label>
        <select name="kecamatan" id="search-kecamatan" disabled>
            <option value="" disabled selected>-- Pilih Kecamatan --</option>
        </select>

        <label for="search-kelurahan">Kelurahan</label>
        <select name="kelurahan" id="search-kelurahan" disabled>
            <option value="" disabled selected>-- Pilih Kelurahan --</option>
        </select>

        <label for="search-tahun-1">Tahun</label>
        <select name="tahun-1" id="search-tahun-1" disabled="true">
            <option value="" disabled selected>-- Pilih Tahun --</option>
        </select>

        <select name="tahun-2" id="search-tahun-2" disabled="true">
            <option value="" disabled selected>-- Pilih Tahun --</option>
        </select>

        <input name="submit" type="submit" disabled="true">
    </form>
</body>

</html>