<div id="nav-banner">
    <img src="/img/Banner.png" alt="logo HijauID" class="btn-home">

    <div class="container-btn">
        <a href="/">
            <div class="btn-banner btn-home">
                <i class="fa-solid fa-house"></i>
                <span>HOME</span>
            </div>
        </a>

        <div class="sep-btn"></div>

        <a href="/login">
            <div class="btn-banner btn-admin">
                <i class="fa-solid fa-user"></i>
                <span>ADMIN</span>
            </div>
        </a>

        <!-- <div class="sep-btn"></div>
    
        <div class="btn-banner btn-closebanner">
            <i class="fa-solid fa-xmark"></i>
        </div> -->
    </div>

</div>